div {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3em;
    width: 20em;
    background-color: #f1f1f1;
    padding: 1.2em;
    font-size: 1em;
    font-weight: 500;
    outline: none;
}

div button {
    color: grey;
    height: 3em;
    width: 5em;
    font-size: 1em;
    border-radius: 0 10em 10em 0;
    border: none;
    background-color:#2676AE;
    color: white;
    opacity: 0.9;
    outline: none;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

