.container {
  margin: 1.5em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  place-items: center;
}

.movie {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  height: 100%;

  &--image {
    height: 20em;
    max-width: 80%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin: 2em 0;
  }

  &--description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;

    p {
      font-size: 1.5rem;
    }
  }
}