<body>
    <div class="container" *ngIf="(movie$ | async) as movie">
        <div class="movie">
            <div class="movie--title">
                {{movie.title}}
            </div>
            <img class="movie--image" src="https://image.tmdb.org/t/p/original/{{movie.backDropPath}}" />          
            
            <div class="actions">
                <button>trailer</button>
            </div>
            <div class="movie--overview">
                {{movie.overview}}
            </div>
        </div>
    </div>
    <div class="carousel" >

    </div>
</body>